   body {
        padding-top:0px;
        text-align:center; 
        margin: 0;
    }
nav{
background-image: url(../../img/xiaozhan/bj2.jpg);
 max-width: 100%;
 max-height: auto;
}
audio{
  volume:55;
}

    /* -------------菜单css代码----------begin---------- */
    .menuDiv { 
        border: 2px solid#d35a7f; 
        display:inline-block;
        
    }
     
    /* 去掉a标签的下划线 */
    .menuDiv a {
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
     
    /* 设置ul和li的样式 */
    .menuDiv ul , .menuDiv li {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
    } 
     
    /* 设置二级菜单绝对定位，并隐藏 */
    .menuDiv > ul > li > ul {
        position: fixed;
        display: none;
    }
 
    /* 设置二级菜单的li的样式 */
    .menuDiv > ul > li > ul > li {
        float: none;
    }
   
    /* 鼠标放在一级菜单上，显示二级菜单 */
    .menuDiv > ul > li:hover ul {
        display: block;

    }
 
    /* 一级菜单 */
    .menuDiv > ul > li > a {
        max-width: 220px;
        line-height: 50px;
        color:rgb(248, 244, 247);
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1px 1px #dfacc5;
        background-color: linear-gradient(#ee84ab,#d35a7f);
        border: 2px solid#cc184e;
        text-align: center;
        border-left: 1px solid #7b4e5f
        display: block;
    }
     
    /* 在一级菜单中，第一个不设置左边框 */
    .menuDiv > ul > li:first-child > a {
        border-left: none;
    }
 
    /* 在一级菜单中，鼠标放上去的样式 */
    .menuDiv > ul > li > a:hover {
        color:  rgb(231, 229, 231);
        text-shadow: 1px 1px rgb(235, 8, 95);
        background-color: #ba494b;

    }
 
    /* 二级菜单 */
    .menuDiv > ul > li > ul > li > a {
        min-width: 120px;
        line-height: 6px;
        color: rgb(12, 2, 7);
        background-color: #ead6ee;
        text-align: center;
        border: 1px solid rgb(226, 214, 214);
        border-top: none;
        display: block;
    }
     
    /* 在二级菜单中，第一个设置顶边框 */
    .menuDiv > ul > li > ul > li:first-child > a {
        border-top: 1px solid #ccc;
    }
     
    /* 在二级菜单中，鼠标放上去的样式 */
    .menuDiv > ul > li > ul > li > a:hover {
        color: rgb(252, 252, 252);

        background: linear-gradient(135deg,#eebd89,#D13abd);
    }

#grad {
  background-image: linear-gradient(to bottom right,#d67573, #f6c6a9);
}
body {
  background-image: linear-gradient(to bottom right,#ffd6da , #ffc6d0);
}
#all{
  background: url();
}
img.card-img-top{
  opacity: 1;
max-width: 100%;
height: auto;
margin: auto;

}
div.card{
 float: center;
padding:0px;
border: 100px solid #ffc6d0;
max-width:100%;
max-height: auto;
background-color: #d286a6;

}
div.card-body{
  background: url(../../img/xiaozhan/da2.jpeg) no-repeat;
  background-size: cover;
  border: 10px solid rgb(197, 120, 191);
  border-style: solid double dashed;
  float: center;
  overflow:hidden;
  box-sizing: border-box;
  max-width:100%;
  max-height:auto ;
}
h4.card-title{
  padding-top: 20px;
  text-align: center;
  color: rgb(240, 224, 235);
  text-shadow: 1px 1px rgb(183, 136, 189);
  margin-top: 0;
  margin-bottom: 0.5rem;

}
div.pre.card-text{
  float: left;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
  font-size: 30px;
  margin: auto;
  font-weight: lighter;
  text-indent: 50px;
  font-style: oblique;
  font-family: 'Lucida Console', 'Monaco', monospace;
}

h2{
  text-align: center;
  color: #0a164e;
  text-shadow: 1px 1px rgb(203, 185, 130);
  margin-top: 30px;
  margin-bottom: 0.5rem;
  font-family:  "Brush Script MT";
}
p.mainword{
  float: left;
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  font-size: 30px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
  text-indent: 30px;
  font-style: oblique;
  font-family: 'Lucida Console', 'Courier New', monospace;
  color: rgb(148, 42, 125);

}
img{
  opacity: 0.85;
 max-width: 50%;
 max-height:auto;
 margin: auto;
}
@media screen {
  .img{
     max-width: 767px;
  }
}
h5 {
  color:#f5f6f2;
  text-align: left;
  line-height: 1.8;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 25px;
  text-shadow: 1.5px 1.5px #6d1919;
}
a.some {
  display: block;
  color: rgb(235, 225, 236);
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

p.foolder {
  color: #fafafa;
  text-align: left;
  line-height: 1.2;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
}
footer {
  background:rgb(228, 105, 140);
   background-size: cover;
overflow: visible;
  float: center;
  margin: auto;
  min-width:100%; 
 

}
ul.list-unstyled {
  float: left;
  list-style-type: none;
  margin: auto;
  padding: 0;
}

ul.list-unstyled li {
  float: left;
}

ul.list-unstyled li a {
  display: block;
  color:#f0e9eb;
  text-shadow:1px 1px #f6f5f0 ;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.else {
  display: block;
  color: rgb(214, 202, 216);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.else a {
  display: block;
  color: #f0e9eb;
  text-align: center;
}