   body {
        padding-top:0px;
        text-align:center; 
        margin: 0;
    }
     navbar-expand-lg navbar-dark primary-color fixed-top {
  color: rgb(127, 21, 131);
}
a.navbar-brand {
  color: #d896f6;
} 
    /* -------------菜单css代码----------begin---------- */
    .menuDiv { 
        border: 2px solid #aac; 
        display:inline-block;
    }
     
    /* 去掉a标签的下划线 */
    .menuDiv a {
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
     
    /* 设置ul和li的样式 */
    .menuDiv ul , .menuDiv li {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
    } 
     
    /* 设置二级菜单绝对定位，并隐藏 */
    .menuDiv > ul > li > ul {
        position: fixed;
        display: none;
    }
 
    /* 设置二级菜单的li的样式 */
    .menuDiv > ul > li > ul > li {
        float: none;
    }
   
    /* 鼠标放在一级菜单上，显示二级菜单 */
    .menuDiv > ul > li:hover ul {
        display: block;
    }
 
    /* 一级菜单 */
    .menuDiv > ul > li > a {
        width: 220px;
        line-height: 50px;
        color: rgb(231, 229, 231);
        background-color: #d896f6;
        text-align: center;
        border-left: 1px solid #ce93d8;
        display: block;
    }
     
    /* 在一级菜单中，第一个不设置左边框 */
    .menuDiv > ul > li:first-child > a {
        border-left: none;
    }
 
    /* 在一级菜单中，鼠标放上去的样式 */
    .menuDiv > ul > li > a:hover {
        color:  rgb(231, 229, 231);
        background-color: #ce93d8;
    }
 
    /* 二级菜单 */
    .menuDiv > ul > li > ul > li > a {
        width: 120px;
        line-height: 6px;
        color: rgb(231, 229, 231);
        background-color:  #ce93d8;
        text-align: center;
        border: 1px solid #ccc;
        border-top: none;
        display: block;
    }
     
    /* 在二级菜单中，第一个设置顶边框 */
    .menuDiv > ul > li > ul > li:first-child > a {
        border-top: 1px solid #ccc;
    }
     
    /* 在二级菜单中，鼠标放上去的样式 */
    .menuDiv > ul > li > ul > li > a:hover {
        color: #a4f;
        background-color: #cdf;
    }

#grad {
  background-image: linear-gradient(to bottom right,#c4bcf7, #a48ee1);
}
body {
  background-image: linear-gradient(to bottom right,#f3e5f5 , #ce93d8);
}
img.ard-img-top{
  opacity: 1;
max-width: 100%;
height: auto;
margin: auto;

}
div.card{
  width: 100%;
 float: left;
padding: 0px;
border: 1px solid lightyellow;
max-width: 100%;
max-height: 100%;
background-color: lightblue;

}
div.card-body{
  background-color: lightblue;
  overflow: visible;
  box-sizing: border-box;
  max-width:100%;
  max-height:100%;
  
}
h4.card-title{
  text-align: center;
  color: rgb(84, 53, 134);
  text-shadow: 1px 1px rgb(183, 136, 189);
  margin-top: 0;
  margin-bottom: 0.5rem;

}
p.card-text{
  float: left;
  text-align: left;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.5;
  font-size: 30px;
  margin: auto;
  text-indent: 50px;
  font-style: oblique;
  font-family: 'Lucida Console', 'Courier New', monospace;
}

h2{
  text-align: center;
  color: rgb(127, 21, 131);
  text-shadow: 1px 1px rgb(34, 9, 37);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "
}
p.mainword{
  float: left;
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  font-size: 30px;
  margin: auto;
  text-indent: 30px;
  font-style: oblique;
  font-family: 'Lucida Console', 'Courier New', monospace;
  color: rgb(148, 42, 125);

}
img.card{
  opacity: 1;
 width: 100%;
 max-height: 100%;
 margin: auto;
}
h5 {
  color:rgb(235, 225, 236);;
  text-align: left;
  line-height: 1.8;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 25px;
  text-shadow: 1.5px 1.5px #73289e;
}
a.some {
  display: block;
  color: rgb(235, 225, 236);
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

p.foolder {
  color: #ede8ed;
  text-align: left;
  line-height: 1.2;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
}
footer {
  background-color:#8e66ca;
  float: center;
  margin: auto;
  padding: 0;
  overflow: hidden;
}
ul.list-unstyled {
  float: left;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

ul.list-unstyled li {
  float: left;
}

ul.list-unstyled li a {
  display: block;
  color:#ede8ed;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.else {
  display: block;
  color: rgb(214, 202, 216);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.else a {
  display: block;
  color: rgb(253, 240, 255);
  text-align: center;
}
